/* import font */
@import url(https://fonts.googleapis.com/css?family=Gudea:400,700);
/* reset default format */
*{
 margin: 0;
 padding: 0;
 font-family: "Gudea", sans-serif;
 font-weight: bold;
}
/* set size */
html{
    width: 100vw;
    height: 100vh;
}
/* create card */
body{
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
 background-position: top;
 background-image:url(./assets/photo-1477346611705-65d1883cee1e.jpg);
 width: 100%;
 height: 100%;
 font-family: Arial, Helvetica;
 letter-spacing: 0.02em;
  font-weight: 400;
 -webkit-font-smoothing: antialiased; 
}
/* create blur effect */
.blurred-box{
  position: relative;
  width: 250px;
  height: 350px;
  top: calc(50% - 175px);
  left: calc(50% - 125px);
  background: inherit;
  border-radius: 2px;
  overflow: hidden;
}
/* add after blurred box */
.blurred-box:after{
 content: '';
 width: 400px;
 height: 350px;
 background: inherit; 
 position: absolute;
 left: -25px;
 left position
 right: 0;
 top: -25px;  
 top position 
 bottom: 0;
 box-shadow: inset 0 0 0 200px rgba(255,255,255,0.05);
 filter: blur(10px);
}
/* create login box */
.user-login-box{
  position: relative;
  margin-top: 50px;
  text-align: center;
  z-index: 1;
}
/* set size login box */
.user-login-box > *{
  display: inline-block;
  width: 200px;
}
/* add icon */
.user-icon{
  width: 100px;
  height: 100px;
  position: relative;
  border-radius: 50%;
  background-size: contain;
  background-image: url(./assets/50\ Mejores\ IMÁGENES\ FONDOS\ para\ Whatsapp\ _\ Mejores\ imágenes.jpg);
  background-size: cover;
  background-position: -100px -35px;
}
/* set layout user name */
.user-name{
  margin-top: 15px;
  margin-bottom: 15px;
  color: white;
}
/* style inout password */
input.user-password{
  margin-top: 15px;
  width: 120px;
  height: 17px;
  opacity: 0.4;
  border-radius: 2px;
  padding: 5px 15px;
  border: 0;
}
input.user-submit{
  text-align: center;
  margin-top: 30px;
  background-color: #32364a;
  width: 150px;
  height: 26px;
  border-radius: 2px;
  border: 0;
  color: #EA5C54;
}
/* style hover when submitted */
input.user-submit:hover{
  color: #fff;
  color: white;
  background: #DC6180;
  cursor: pointer;
  transition-property: background, color;
  transition-duration: 0.2s;
}